.showContent {
    visibility: visible;
}

.hideContent {
    visibility: hidden;
}

.content-wrapper {
    background-color:lightgreen;
    padding: 50px;
    margin-top: -22px;
}

.black-label {
    background-color:rgb(102, 20, 20);
    border-radius: 100px;
    width:18px;
    height:18px;
    font-size: 12px;
    text-align: center;
    color:white;
    margin: 5px;
}

.bold-text {
    color: red;
}