.card-wrapper {
    border-radius: 10px;
    align-items:center;
    position:static;
    display: flex;
    flex-direction:column;
    
}

.card{
    width: 60vw;
    border-radius: 7px;
    border-bottom: 8px;
    box-shadow: 0 4px 30px 0 rgba(0,0,0,0.75);
    // padding:5px 0px;
    background-image: url("https://orig00.deviantart.net/8203/f/2013/283/b/b/fortune_teller_by_kyrukai-d6pwt2f.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: lightblue;
    
}

.input-wrapper {
    margin: 36px 0px;
}

input {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid $Gold;
    text-align: center;
    font-weight: 500;
    width:100%;
}

.input-description {
    color:green;
    font-weight: 300;
    font-size: 12px;
    box-shadow: #d53a3a;
}

.green-label {
    background-color: $black;
    border-radius: 100px;
    width: 26px;
    height: 26px;
    font-size: 18px;
    text-align: center;
    color: white;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.generate-button {
   @include buttonStyles;
   background-color: lightgreen;
}

.clear-button, a {
   @include buttonStyles;
   background-color: $CadetBlue;
   padding-top: 9px;
   text-align: center;
}

input:focus,
button:focus {
    outline: none;
} 