.backgroundSkew {
    width: 100vw;
    
    background-color: #000000;
    background-image: url("http://st.gde-fon.com/wallpapers_original/305628_tekstury_chernye_serye_1920x1080_www.Gde-Fon.com.jpg")
    
}

.madlib-heading {
    text-align: center;
    margin: 20px;
    padding-top: 46px;
    color: white;
    font-weight: bold;
    font-family: $font-primary;
}

.madlib-heading {
    margin-bottom: 46px;
    color: rgba(255, 57, 57, 0.75);
    font-size: 15px;
}