$christmasBlue: #1B88B8;
$slateGrey: #708090;
$bottegaGreen: #00CB79;
$clearBlue: #45B0E5;
$mainGray: #CFCFCF;
$HoneyDew: #F0FFF0;
$black: #000000;
$DimGray: #696969;
$CadetBlue: #5F9EA0;
$darkGray: #444444;
$crimson: #d53a3a;
$Gold: 	#FFD700;
$font-primary: 'Chalkduster', fantasy;